.game-cards {
  width: 100%;
  padding: 20px;
  flex-flow: row wrap;
  justify-content: center;
}
.game-cards > * {
  margin: 20px;
}


.game-card {
  flex-flow: column;
  border: 1px solid #4a4a4a;
  font-size: 14px;
}

.game-card-cell {
  width: 64px;
  height: 64px;
  align-items: center;
  justify-content: center;
  color: #4a4a4a;
}
.game-card-cell.odd {
  background: #4a4a4a;
  color: white;
}
